
body{
font-family:  "Arial", cursive, sans-serif;
font-size: 17px;
margin:5;
padding:0;
}

h1 {
  font-family: "Arial";
  text-align:center;
  color: white;
  font-size: 34px;
	font-weight: 400;
  letter-spacing: 5px;
	margin-top: 20px;
	margin-bottom: 0px;
}

h2 {
  font-family: "Arial";
  text-align: left;
  color: #61969c;
  font-size: 25px;
  margin-top: 5px;

}

h3 {
  font-family: "Arial";
  text-align: left;
  color: #61969c;
  font-size: 22px;
  margin-top: 5px;
  text-decoration: bold;
}

a:link    { color: #666666; text-decoration: bold; }
a:visited { color: #666666; }
a:active  { color: #209781; }
a:hover   { color: #E9B64A; }

legend{
  display: block;
  padding-left: 2px;
  padding-right: 2px;
  border: none;
  background-color: #2000;
  font-size: 12px;
}

.logo{
  width: 100%;
  height: 200px;
}

.image_text{
  padding-top: 80px;
  padding-left: 20px;
  width: 300px;
  height: 300px;
}

.icon{
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.frame-alert{
  border: 2px solid #dcdcdc;
  border-radius:6px;
  background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background-color:#f9f9f9;
  font-size: 21px;
  font-weight: bold;
  font-family: Arial;
  text-align: center;
  padding:6px 24px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.links-up
{
	text-align: right;
	margin-top: 15px;
	letter-spacing: 2px;
	font-size:  18px;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
	background-color:#f9f9f9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;

}
.button:hover {

  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9));
	background:-moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:-ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
	background:linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
	background-color:#e9e9e9;
}
.button:active {
	position:relative;
	top:1px;
}


.banner {
  background-image: url("img/baner.jpg");
}

.footer-author{
  margin:0px;
  padding:3px;
  /*background-color: #1da1f2;*/
  background-color: #f0f0f0;
  text-align: center;
  padding: 14px 16px;
  color: #b4b4b4;
}

/* Panel z linkami menu*/
.panel{
margin:0px;
padding:3px;
background-color: #f2f2f2;
}

.subpanel{
  margin:0px;
  padding:3px;

  list-style-type: none;
  padding: 0;
  overflow: hidden;

  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

  font-size: 80%;
  /*background-color: #aaa; */
  /* background-color: #e6fff2;*/
  /*background-color: #d2a679; */
  background-color: #242323;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

ul.subpanel li{
  display: inline-block;
  padding:8px;
}

ul.subpanel li a:hover:not(.active) {background-color: #242323;} /*111 #bf8040 #777dff #bf8040
kolor linku po najechaniu kursorem*/

ul.subpanel li a.active {background-color: #a67c99;} /*4CAF50 link aktywny #a67c99 */

ul.subpanel li.right {float: right;}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


.page {
margin: 0px;
padding: 0px;
}

.page h3{
margin: 0px;
padding: 4px;
background-color: #d2d2d2;
}


/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */


ul.topnav {
list-style-type: none;
padding: 0;
overflow: hidden;
background-color: #996633; /* #69b6fd 333  kolor paska z linkami*/
}

ul.topnav li {float: left;}

ul.topnav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #bf8040;} /*111 #bf8040 #777dff
kolor linku po najechaniu kursorem*/

ul.topnav li a.active {background-color: #a67c99;} /*4CAF50 link aktywny */

ul.topnav li.right {float: right;}

/*@media screen and (max-width: 600px){
ul.topnav li.right,
ul.topnav li {float: none;}
}*/

ul.sub {
font-size: 80%;
background-color: #aaa;
list-style-type: none;
padding: 0;
overflow: hidden;
}

ul.sub li a {
padding: 4px 16px;
display: inline-block;
color: white;
text-align: center;
text-decoration: none;

}
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.div-table{
  display:table;
  width:auto;
  border-spacing:5px;/*cellspacing:poor IE support for  this*/
}
.div-table-row{
  display:table-row;
  width:auto;
  clear:both;
}
.div-table-col{
  float:left;/*fix for  buggy browsers*/
  display:table-column;
  width:200px;
  margin:2px;
  padding:2px;
}

.naglowekTabela{
  margin:0px;
  padding:3px;
  /*background-color: #1da1f2;
  color: #b4b4b4;*/
  background-color: #B4BFB6; /* #f0f0f0 */
  text-align: center;
  padding: 14px 16px;
  color: black;
}

/*====== TABELA ========== */
table.tabela {
  border: 1px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.tabela td, table.tabela th {
  border: 1px solid #AAAAAA;
  padding: 3px 2px;
}
table.tabela tbody td {
  font-size: 15px;
}
table.tabela tr:nth-child(even) {
  background: #DDEBE0; /* #D0E4F5; */
}
/*
table.tabela tfoot td {
  font-size: 14px;
}
table.tabela tfoot .links {
  text-align: right;
}
table.tabela tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}
*/



/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* Navbar */
@media (min-width: 768px) {
  .navbar-nav {
    width: 100%;
    text-align: center;
  }
  .navbar-nav > li {
    float: none;
    display: inline-block;
  }
  .navbar-nav > li.navbar-right {
    float: right !important;
  }
}
/*
.flex-container {
  display: flex;
  height: 200px;
  align-items: baseline;
}
*/
.d-flex{
  background-color: inherit
}
.bg-secondary{
  background-color: inherit
}
